---
interface Props {
  title: string;
  smallDescription: string;
  href: string;
  imageSrc: string;
}

const { title, smallDescription, href, imageSrc } = Astro.props;
---

<div
  class="max-w-sm w-full bg-white text-black rounded-lg shadow-md overflow-hidden"
>
  <a href={`/blog/${href}`}>
    <div class="relative w-full h-48">
      <img
        src={imageSrc}
        alt={title}
        class="object-cover w-full h-full rounded-t-lg"
      />
    </div>
    <div class="p-5 h-40 flex flex-col justify-between">
      <h2 class="text-lg font-semibold mb-2">{title}</h2>
      <p class="mt-2 mb-1 text-sm text-gray-600">{smallDescription}</p>
    </div>
  </a>
</div>

<style>
  .object-cover {
    object-fit: cover;
  }
</style>
